
@media screen and (max-width:427px) {
  .modal{
    width: 296px;
  }
  
}
@media screen and (min-width: 480px) {
  .container{
    max-width: 428px;
  }

  .menu-social-list{
    column-gap: 56px;
    justify-content: flex-start;
  }

  .contact-menu-item .phone{
    

  }

  .modal {
    width: 392px;
  }
.reg-form {
  width: 360px;
}
  .subscribe-mail{
      margin-right: 16px;
  margin-bottom: 16px;
 
}